body {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    user-select: none;
    background-color: #414141;
}
.main-calc {
    display: flex;
    flex-direction: column;
    height: 350px;
    scale: 1.5 ;
    width: fit-content ;
    border: 2px solid black ;
}
.display{
     background-color: rgb(99, 133, 144);
     height: 150px;
     border-bottom:  2px solid black;
     display: flex;
     justify-content: flex-end;
     align-items: end;
     color: white;
     font-size: 32px;
}
.button,.operator {
      height: 50px;
      width : 50px ;
}
.button-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 39, 39);
}
.numerals, .operators {
    display: flex;
}
.row {
    display: flex;
}
.row div {
    color: white;
    transition-property: background-color;
    transition-duration: 0.8s;
    height: 50px;
    display: flex;;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.row.last .equal {
    /* border : 1px solid black; */
    flex : 1 ;
}

.row.first  div{
    flex-grow: 1;
}

.prevDisplay {
    display: flex;
    color : white ; 
    background-color: rgb(99, 133, 144) ;
}

.row div:hover {
    background-color: rgb(99, 133, 144) ;
}